body{
    background-color: rgb(29.41, 29.41, 29.41);
    font-style: Typewriter;
    font-size: 125%;
    line-height: 100%;
}
.links{
color: rgb(41.96, 90.98, 76.47);
}
table{
    float: inline-start;
}
tr{
    float: inline-start;
}


input[type="search"] {
    background: transparent;
    padding: 10px 20px;
    color: var(--name);
    font-weight: 500;
    display: inline-block;
    border: none;
    font-size: 1.1em;
    box-sizing: border-box;
}

input[type="search"]:hover,
input[type="search"]:active,
input[type="search"]:focus {
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}
img{
    width: 250px;
    height: 250px;
}
